Description=Memcached
Before=httpd.service
After=network.target
[Service]
Type=simple
EnvironmentFile=-/etc/sysconfig/memcached
User={{ user }}
Group= {{group}}
# Run ExecStartPre with root-permissions
PermissionsStartOnly=true
ExecStartPre=-/usr/bin/mkdir /var/run/memcached
ExecStartPre=/usr/bin/chown -R {{ user }}:{{group}} /var/run/memcached/
ExecStart=/usr/bin/memcached -u {{ user }} -p {{ memcached_exporter_port }} -m {{ memcached_exporter_cachesize }} -c {{ memcached_exporter_maxconn }} {{ memcached_exporter_options }}
[Install]
WantedBy=multi-user.target