[Unit]
Description=collectd_exporter
Wants=network-online.target
After=network-online.target

[Service]
User={{user}}
ExecStart={{ binary_path }}/collectd_exporter
Restart=on-failure

[Install]
WantedBy=multi-user.target