[Unit]
Description=influxdb_exporter
Wants=network-online.target
After=network-online.target

[Service]
User={{user}}
ExecStart={{ binary_path }}/influxdb_exporter
Restart=on-failure

[Install]
WantedBy=multi-user.target