[Unit]
Description=Node Exporter
Wants=network-online.target
After=network-online.target

[Service]
User={{user}}
ExecStart={{ binary_path }}/memcached_exporter {{ memcached_exporter_options }}
Restart=on-failure

[Install]
WantedBy=multi-user.target